"*":
  "atom-beautify": {}
  "atom-typescript": {}
  core:
    audioBeep: false
    autoHideMenuBar: true
    followSymlinks: true
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      ".keep"
      "._*"
      "*.pyc"
      "Thumbs.db"
      ".idea"
    ]
    projectHome: "/home/yhnavein/puredev"
  editor:
    backUpBeforeSaving: true
    invisibles: {}
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabType: "soft"
  "exception-reporting":
    userId: "95d045b9-b4b5-36f4-868f-fa902ee4c2e7"
  linter:
    lintOnFly: false
    showErrorPanel: false
    showErrorTabFile: false
    showErrorTabProject: false
  "linter-eslint":
    eslintRulesDir: "/home/yhnavein"
    showRuleIdInMessage: true
    useGlobalEslint: true
  minimap: {}
  "one-dark-ui": {}
  pigments: {}
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".source.ts":
  editor:
    preferredLineLength: 100
".source.tsx":
  editor:
    preferredLineLength: 100
