'packages': [
  'angularjs'
  'atom-color-highlight'
  'atom-material-syntax'
  'atom-material-ui'
  'atom-typescript'
  'auto-copyright'
  'block-travel'
  'bug-report'
  'emmet'
  'file-type-icons'
  'file-watcher'
  'highlight-selected'
  'indentation-indicator'
  'javascript-snippets'
  'language-generic-config'
  'language-ejs'
  'language-todotxt'
  'linter'
  'linter-eslint'
  'linter-csslint'
  'linter-less'
  'minimap'
  'monokai'
  'package-sync'
  'node-debugger'
  'set-syntax'
  'selection-highlight'
  'soft-wrap-indicator'
  'sort-lines'
  'tabs-to-spaces'
  'toggle-quotes'
  'turbo-javascript'
  'white-cursor'
]
